.contact {
  max-width: 900px;
  margin: 4rem auto;
  padding: 0 1.5rem;
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #666;
  margin-bottom: 2.5rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #000;
}

button {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.contact-info h3 {
  margin-bottom: 1rem;
}

.contact-info a {
  color: black;
  text-decoration: underline;
}

.contact-options{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
